<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="리뷰 중심 여성쇼핑몰">
    <meta name="author" content="리뷰모아">
    
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <title>리뷰모아</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    
  </head>

  <body>

    <!--<div class="site-wrapper">-->

    <!--  <div class="site-wrapper-inner">-->

        <div class="cover-container">
          
          <div class="masthead clearfix">
            <div class="inner">

              <nav class="nav nav-masthead">
                <ul class="nav nav-pills">

                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link btn btn-secondary" role="presentation" href="/users/sign_in">Sign-In</a>
                <a class="nav-link btn btn-secondary" role="presentation" href="/users/sign_out">Sign-Out</a>
                <a class="nav-link btn btn-secondary" role="presentation" href="/users/sign_up">Sign-Up</a>
               
               
              </nav>
            </div>
          </div>

          <div class="inner cover">
             <section>
              <div class="row">
                  <div class="col-lg-6">
                    <form action="/search_result">
                      <div class="input-group">
                        <input type="text" class="form-control" name="user_input" placeholder="사고 싶은 옷을 검색하세요.">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">검색</button>
                        </span>
                      </div><!-- /input-group -->
                    </form>
                    </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
            <!--<img src="/assets/main-page-logo.png" style="display: absolute">-->
            </section>


          <div class="mastfoot">
            <div class="inner">
              <p>멋쟁이사자처럼 경기연합하프톤 리뷰모아팀</p>
            </div>
          </div>

        </div>

      </div>

  <!--  </div>-->
  <!--</div>-->